/*!------------index-main --------------*/
.index-main{
    padding: 80px 10%;
    .deco-pin{
            background-color: $maincolor;
            width: 30px;height: 2.5px;
            margin: 18px 5px;
        }
}
.index-main-title{
    margin-bottom: 16px;
}
/*!------------白底藍字按鈕--------------*/
.index-btn a{
            display: block;
            width: 150px;height: 40px;
            padding: 8px 16px;
            margin-top: 24px;
            font-size: 1rem;
            color: $maincolor;
            text-align: center;
            border: 1px solid $maincolor;
            border-radius: 40px;
            background-color: #ffffff;
            &:hover{
                background-color: $subcolor;
            }
            &:active{
                color: #fff;
                background-color: $maincolor;
            }
        }
@media (max-width: 1000px){
    .index-main{
        padding: 80px 3%;
    }
    .index-main-title{
        font-size: 3rem;
    }
}
/*!------------index-main 服務方案--------------*/
.service{
    .service-list{
        padding: 0 5%;
    }
}

.slist-item{
    display: flex;
    align-items: center;
    margin-bottom: 64px;
    .slist-img{
        width: 60%;
    }
    .slist-content{
        background-color: #fff;
        padding: 24px;
        width: 40%;
        position: relative;
        z-index: 2;
        
    }
}
/*!------------index-main 交錯--------------*/
.list-typeset{
    .slist-img{
        margin-right: -40px;
    }
}
.list-typeset-flip{
    flex-direction: row-reverse;
    .slist-img{
        margin-left: -40px;
    }
}
.service-contact{
    text-align: right;
    a{
        font-size: 1.75rem;
        font-weight: bold;
        color: #000;
        &:hover{
            color: $maincolor;
        }
    }
}
@media (max-width: 1000px){
    .slist-item{
        flex-direction: column;
        .slist-img{
        width: 100%;
        }
        .slist-content{
        width: 100%;
        }
    }
    .list-typeset,.list-typeset-flip{
        .slist-img{margin: 0 auto;}
    }
}
/*!------------index-main 案例--------------*/
.case-wrapper{
    display: flex;
    align-items: center;
    .case-img{
        background-color: $subcolor;
        padding: 24px 24px 0 24px;
        width: 60%;
    }
    .case-content{
        width: 40%;
        font-weight: 700;
    }
    .ca-content-top{
        background-color: #fff;
        padding: 80px 40px;
        margin-left: -200px;
        margin-right: 200px;
        .ca-content-high{
            color: $maincolor;
        }
    }
    .ca-content-bot{
        background-color: #F5F5F5;
        padding: 80px 40px;
        margin-top: -50px;
        margin-left: 24px;
        
    }
}
@media (max-width: 1000px){
    .case-wrapper{
        flex-direction: column;
        .case-img{
            width: 100%;
        }
        .case-content{
            width: 100%;
        }
        .ca-content-top,.ca-content-bot{
            margin: 0;
        }
    }
    
}
/*!------------index-main 訂閱--------------*/
.subscribe{
    display: flex;
    .subscribe-img{
        width: 50%;
    }
    .index-btn a{
        width: 100px;
    }
}
.subscribe-bg{
    width: 50%;
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2025-web-camp/desktop/index/Hero%20Section2.png?raw=true);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
}
.subscribe-content{
    background-color: #fff;
    padding: 80px;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    align-self: center;
    .sub-input{
        background-color: $subcolor;
        width: 100%;height: 50px;
        margin: 5px 0;
        border: none;
        outline: none;
        font-size: 20px;

    }
}
@media (max-width: 1000px){
    .subscribe{
        flex-direction: column;
        .subscribe-img{
            width: 100%;
        }
        .subscribe-bg{
            width: 100%;
            .subscribe-content{
                padding: 40px 24px;
                margin-top: 12px;
                margin-bottom: 12px;
                width: 95%;
            }
        }
        
    }
}


/*!------------index-main 聯繫--------------*/
.index-contact-info{
    padding: 80px 10%;
}
.index-social{
    img{
        width: auto;
    }
    li{
        display: flex;
    }
    a{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #000;
        padding: 10px 0;
        width: 100%;
        font-size: 1.75rem;
        font-weight: bold;
        color: #000;
        &:hover{
            background-color: $subcolor;
        }
    }
    .email-deco{
        text-decoration: underline;
    }
}
@media (max-width: 1000px){
    .index-social{
        a{
            flex-direction: column;
        }
    }
}