// main{
//     // background-color: bisque;
// }
.container{
    padding: 80px 10%;
    border-bottom: 20px solid grey;
}
.item-intro{
    max-width: 80%;
    margin: 0 auto;
    margin-bottom: 32px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    img{
        max-width: 636px; ;
    }
    .service-intro-content{
        background-color: #fff;
        max-width: 480px;
        padding: 20px;
        position: absolute;
        z-index: 2;
        margin-left: 60%;
        .dash{
            margin: 20px 0;
            width: 30px;height: 2.5px;
            background-color: $maincolor;
            border-radius: 25px;
        }
    }
    
}
.item-intro.flip{
    flex-direction: row-reverse;
    margin-bottom: 0;
    margin-top: 32px;
    .service-intro-content.flip-p{
        margin-left: 0px;
        margin-right: 600px;
    }
}
.moreinfor{
    text-align: right;
    a{
        font-size: 1.75rem;
        font-weight: bold;
        color: #000;
        &:hover{
            color: grey;
        }
            
    &:active{
            color: #fff;
        }

    }
    span{
        font-size: 1.75rem;
        border: 1px solid #000;
        border-radius: 100%;
        padding: 0 .4rem;
    }
}

@media(max-width:577px){
    .container{
        padding: 80px 2%;
    }
    .item-intro{
        max-width: 100%;
        flex-direction: column;
        position: static;
        .service-intro-content{
            position: static;
            margin: 0;
            max-width: 100%;
        }
    }
    .item-intro.flip{
        flex-direction: column;
        position: static;
        .service-intro-content.flip-p{
            position: static;
            margin: 0;

        }
    }
    // .moreinfor{
    //     // span{
    //     //     // display: block;
    //     //     // padding: 0;
    //     //     // width: 1.75rem;
    //     // }
    // }
}
