@charset "UTF-8";
Css reset html,
body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

img {
  width: 100%; /* 確保圖片不會溢出容器 */
  height: auto; /* 保持圖片比例 */
  vertical-align: middle; /* 修正圖片底部間隙問題 */
  display: inline-block; /* 更一致的跨瀏覽器行為 */
  /* 可選：避免圖片被選中 */
  user-select: none;
  -webkit-user-select: none;
  object-fit: cover;
}

/*--------------------------*/
/*!-----------變數 & 全域設定---------------*/
body {
  background-color: #FBFBFB;
}

.wrap {
  max-width: 100vw;
  margin: 0 auto;
  font-family: "noto sans TC", sans-serif;
  line-height: 1.5;
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

h2 {
  font-size: 4rem;
  font-weight: bold;
}

h3 {
  font-size: 1.75rem;
  font-weight: bold;
  margin: 10px 0;
}

/*!-----------部落格列表標題字 BlogListTextStyle---------------*/
.list-content {
  display: flex;
  flex-direction: column;
}
.list-content .tag-bar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.list-content .tag {
  font-size: 1.5rem;
  color: #0027D5;
}
.list-content .tag:hover {
  color: #6f89ff;
}
.list-content .tag:active {
  color: #00146f;
}
.list-content .high-light {
  color: #fff;
  background-color: #0027D5;
  border-radius: 25px;
  padding: 4px 12px;
  margin-left: 8px;
}
.list-content .blog-content-title {
  font-size: 28px;
  font-weight: bold;
}
.list-content .blog-preview {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 文本要顯示幾行 */
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.list-content .read-link {
  display: block;
  margin-top: 16px;
  width: 99px;
  padding: 8px 16px;
  border: 1px solid #000;
  border-radius: 40px;
  font-size: 16px;
  text-align: center;
  color: #4B4B4B;
}
.list-content .read-link:hover {
  background-color: #EDEDED;
}
.list-content .read-link:active {
  background-color: grey;
  color: #fff;
}

/*!-----------header---------------*/
.top-nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  list-style: none;
}
.top-nav ul a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.75rem;
  color: #000;
  padding: 20px;
}
.top-nav ul a:hover {
  color: grey;
}
.top-nav ul a:active {
  background-color: grey;
  color: #fff;
}

/*!--------------Banner------------------*/
.banner-proflie {
  display: flex;
}
.banner-proflie .banner-photo, .banner-proflie .banner-infor {
  flex: 1;
}
.banner-proflie .banner-infor {
  padding-left: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2025-web-camp/desktop/index/Hero%20Section2.png?raw=true);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner-proflie .banner-infor .banner-title {
  color: #0027D5;
  font-size: 5rem;
  font-weight: 900;
}
.banner-proflie .banner-infor .banner-subtitle {
  color: #0027D5;
  font-size: 1.5rem;
  font-weight: 900;
}

.banner-self-intro {
  background-color: #ffffff;
  width: 56%;
  padding: 64px 40px;
  position: relative;
  margin-right: 80px;
  margin-left: auto;
  margin-top: -100px;
  font-size: 1.25rem;
  font-weight: 500;
}
.banner-self-intro P {
  margin: 8px 0;
}
.banner-self-intro .banner-social-link {
  display: flex;
}

@media (max-width: 1000px) {
  .banner-proflie {
    flex-direction: column;
  }
  .banner-proflie .banner-infor {
    justify-content: start;
    padding: 24px;
  }
  .banner-proflie .banner-infor .banner-title {
    font-size: 4rem;
  }
  .banner-self-intro {
    width: calc(100% - 24px);
    margin: 0 auto;
  }
}
/*!------------index-main --------------*/
.index-main {
  padding: 80px 10%;
}
.index-main .deco-pin {
  background-color: #0027D5;
  width: 30px;
  height: 2.5px;
  margin: 18px 5px;
}

.index-main-title {
  margin-bottom: 16px;
}

/*!------------白底藍字按鈕--------------*/
.index-btn a {
  display: block;
  width: 150px;
  height: 40px;
  padding: 8px 16px;
  margin-top: 24px;
  font-size: 1rem;
  color: #0027D5;
  text-align: center;
  border: 1px solid #0027D5;
  border-radius: 40px;
  background-color: #ffffff;
}
.index-btn a:hover {
  background-color: #EDEDED;
}
.index-btn a:active {
  color: #fff;
  background-color: #0027D5;
}

@media (max-width: 1000px) {
  .index-main {
    padding: 80px 3%;
  }
  .index-main-title {
    font-size: 3rem;
  }
}
/*!------------index-main 服務方案--------------*/
.service .service-list {
  padding: 0 5%;
}

.slist-item {
  display: flex;
  align-items: center;
  margin-bottom: 64px;
}
.slist-item .slist-img {
  width: 60%;
}
.slist-item .slist-content {
  background-color: #fff;
  padding: 24px;
  width: 40%;
  position: relative;
  z-index: 2;
}

/*!------------index-main 交錯--------------*/
.list-typeset .slist-img {
  margin-right: -40px;
}

.list-typeset-flip {
  flex-direction: row-reverse;
}
.list-typeset-flip .slist-img {
  margin-left: -40px;
}

.service-contact {
  text-align: right;
}
.service-contact a {
  font-size: 1.75rem;
  font-weight: bold;
  color: #000;
}
.service-contact a:hover {
  color: #0027D5;
}

@media (max-width: 1000px) {
  .slist-item {
    flex-direction: column;
  }
  .slist-item .slist-img {
    width: 100%;
  }
  .slist-item .slist-content {
    width: 100%;
  }
  .list-typeset .slist-img, .list-typeset-flip .slist-img {
    margin: 0 auto;
  }
}
/*!------------index-main 案例--------------*/
.case-wrapper {
  display: flex;
  align-items: center;
}
.case-wrapper .case-img {
  background-color: #EDEDED;
  padding: 24px 24px 0 24px;
  width: 60%;
}
.case-wrapper .case-content {
  width: 40%;
  font-weight: 700;
}
.case-wrapper .ca-content-top {
  background-color: #fff;
  padding: 80px 40px;
  margin-left: -200px;
  margin-right: 200px;
}
.case-wrapper .ca-content-top .ca-content-high {
  color: #0027D5;
}
.case-wrapper .ca-content-bot {
  background-color: #F5F5F5;
  padding: 80px 40px;
  margin-top: -50px;
  margin-left: 24px;
}

@media (max-width: 1000px) {
  .case-wrapper {
    flex-direction: column;
  }
  .case-wrapper .case-img {
    width: 100%;
  }
  .case-wrapper .case-content {
    width: 100%;
  }
  .case-wrapper .ca-content-top, .case-wrapper .ca-content-bot {
    margin: 0;
  }
}
/*!------------index-main 訂閱--------------*/
.subscribe {
  display: flex;
}
.subscribe .subscribe-img {
  width: 50%;
}
.subscribe .index-btn a {
  width: 100px;
}

.subscribe-bg {
  width: 50%;
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2025-web-camp/desktop/index/Hero%20Section2.png?raw=true);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
}

.subscribe-content {
  background-color: #fff;
  padding: 80px;
  width: 80%;
  margin: 0 auto;
  align-items: center;
  align-self: center;
}
.subscribe-content .sub-input {
  background-color: #EDEDED;
  width: 100%;
  height: 50px;
  margin: 5px 0;
  border: none;
  outline: none;
  font-size: 20px;
}

@media (max-width: 1000px) {
  .subscribe {
    flex-direction: column;
  }
  .subscribe .subscribe-img {
    width: 100%;
  }
  .subscribe .subscribe-bg {
    width: 100%;
  }
  .subscribe .subscribe-bg .subscribe-content {
    padding: 40px 24px;
    margin-top: 12px;
    margin-bottom: 12px;
    width: 95%;
  }
}
/*!------------index-main 聯繫--------------*/
.index-contact-info {
  padding: 80px 10%;
}

.index-social img {
  width: auto;
}
.index-social li {
  display: flex;
}
.index-social a {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #000;
  padding: 10px 0;
  width: 100%;
  font-size: 1.75rem;
  font-weight: bold;
  color: #000;
}
.index-social a:hover {
  background-color: #EDEDED;
}
.index-social .email-deco {
  text-decoration: underline;
}

@media (max-width: 1000px) {
  .index-social a {
    flex-direction: column;
  }
}
/*!-----------通用的Footer---------------*/
.contact-info {
  display: flex;
  justify-content: space-between;
  padding: 80px 10%;
}
.contact-info h3 {
  font-size: 2rem;
}
.contact-info .social-link {
  display: flex;
}

.copyright {
  text-align: center;
  padding: 24px 0;
}

@media (max-width: 1000px) {
  .contact-info {
    display: none;
  }
}
.blog-list-page-main {
  padding: 80px 10%;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: start;
  border: 1px solid #000;
  border-radius: 40px;
  width: 416px;
  height: 56px;
  padding: 16px;
}

.search-icon img {
  width: 24px;
  height: auto;
}

.search-bar input {
  border: none;
  outline: none;
  width: 100%;
}

.blog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.blog-list li {
  margin: 40px 0px;
  width: 32%;
}

.blog-list img {
  margin-bottom: 10px;
}

.page-change ul {
  width: 30%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

.page-change a {
  display: block;
  color: gray;
  padding: 8px 10px;
  font-weight: bold;
}

.page-change a:hover {
  color: var(--maincolor);
}

@media (max-width: 1000px) {
  .blog-list li {
    width: 100%;
  }
  .page-change ul {
    width: 100%;
  }
}
/*!------------BlogContent_HEROsection--------------*/
.bctop-hero {
  display: flex;
  align-items: center;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: #6C757D;
}
.bctop-hero .bctop-img {
  flex: 1;
}
.bctop-hero .bctop {
  flex: 1;
  padding-left: 24px;
}
.bctop-hero .bctop .content-title {
  font-size: 1.75rem;
  font-weight: bold;
}

@media (max-width: 1000px) {
  .bctop-hero {
    flex-direction: column;
  }
  .bctop-hero .bctop {
    padding: 48px 12px;
  }
}
/*!------------部落格文章內容--------------*/
.bc-main {
  padding: 80px 28%;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: #6C757D;
}
.bc-main h3 {
  font-size: 1.75rem;
  font-weight: bold;
  color: #0027D5;
  margin: 12px 0;
}
.bc-main h4 {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 12px 0;
}
.bc-main img {
  margin: 12px 0;
}
.bc-main p {
  margin: 12px 0;
}
.bc-main a {
  color: #0027D5;
}
.bc-main a:hover {
  color: #6f89ff;
}
.bc-main a:active {
  color: #00146f;
}
.bc-main ol {
  list-style: decimal;
  margin-left: 1rem;
}
.bc-main ul {
  list-style: disc;
  margin-left: 1.5rem;
}
.bc-main .tips {
  font-weight: bold;
  background-color: #EDEDED;
  padding: 24px;
  border-radius: 20px;
}
.bc-main .page-mark {
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
}
.bc-main .page-mark .page-change a {
  padding: 8px 16px;
  border-radius: 40px;
  border: 1px solid grey;
  color: grey;
}
.bc-main .page-mark .page-change a:hover {
  background-color: #EDEDED;
}
.bc-main .page-mark .page-change a:active {
  background-color: grey;
  color: #fff;
}

@media (max-width: 1000px) {
  .bc-main {
    padding: 50px 3%;
  }
}/*# sourceMappingURL=style-all.css.map */